<?xml version="1.0" encoding="UTF-8"?>
    <configuration>
        <system.webServer>
            <handlers>
                <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="d:\blazeweb\ll_env\scripts\python.exe|d:\blazeweb\ll_env\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
            </handlers>
            <httpErrors errorMode="Detailed" />
        </system.webServer>
        <appSettings>
            <add key="WSGI_HANDLER" value="django.core.wsgi.get_wsgi_application()" />
            <add key="PYTHONPATH" value="d:\BlazeWeb" />
            <add key="DJANGO_SETTINGS_MODULE" value="BlazWeb.settings" />
        </appSettings>
    </configuration>